<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://cxf.apache.org/policy"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
    
    <bean id="loggingInitialization"
        class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass"
            value="com.arlen.common.logback.LogbackInitializer" />
        <property name="targetMethod" value="init" />
        <property name="arguments">
            <list>
                <value>classpath*:config/resource/logback.xml</value>
            </list>
        </property>
    </bean>
</beans>