<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="5 minutes" debug="false">
    <property name="catalina.base" value="${catalina.base:-./target}" />
    <property name="logstash.path" value="${catalina.base}/logs" />
    
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Prudent>true</Prudent>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>
				${logstash.path}/%d{yyyy-MM-dd}/product.%d{yyyy-MM-dd}.log
			</FileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern> %-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{32}:%L - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%L - %msg%n</pattern>
		</encoder>
	</appender>
    
    <!-- <logger name="net.sf.ehcache" level="OFF" />
	<logger name="org.apache.shiro.session.mgt.DefaultSessionManager" level="OFF" />
    <logger name="org.apache.shiro.web.servlet.SimpleCookie" level="OFF"/>
    <logger name="org.apache.zookeeper.ClientCnxn" level="OFF"/> -->
    
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
	
</configuration>